<h1 class="text-center">{{title}}</h1>
<div class="col-xs-12 col-sm-6 col-md-3">
<div class="container">
<div class="row">
 <form (ngSubmit)="submitSearch()">
    <div class="form-group col-xs-12">
      <input type="text" [(ngModel)]="searchString" name="searchString" class="form-control" id="search" placeholder="Búsqueda de super-héroe" >
    </div>
  </form>
  <div class="row">
    <div *ngFor="let heroe of heroes">
    <div class="col-xs-12 col-sm-6 col-md-3">
        
      <a [routerLink]="['/heroe', heroe.id]" class="hero-entry"  [style.border-color]="heroesService['group_colors'][heroe.teamColor]" [style.background-image]="'url(' + heroe.thumbnail.path + '.' + heroe.thumbnail.extension + ')'" [style.background-image]="'url(' + heroe.thumbnail.path + '.' + heroe.thumbnail.extension + ')'">
      </a>
    </div>
</div>
  </div>
  <div class="row">
    <div class="paginator col-xs-12">
      <a class="paginator-prev" (click)="prevPage()" *ngIf="page+1 > 0">Prev</a>
      Página {{page + 1}} de {{totalPages}}
      <a class="paginator-next" (click)="nextPage()" *ngIf="page < totalPages- 1">Next</a>
    </div>
  </div>
</div>
</div>
