<ng-container *ngIf="heroe">
    <a class="goback" (click)="goBack()">Atrás</a>
    <h1 class="text-center">    
        {{heroe.name}}</h1>
    <div class="container">
      <div class="row" class="heroe-profile">
  
        <div class="col-xs-12 col-sm-6 col-md-4">
          <img [src]="heroe.thumbnail.path + '.' + heroe.thumbnail.extension">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
          <h3>Descripción</h3>
          <p>{{heroe.description}}</p>
          <p class="modified">{{heroe.modified | date:'fullDate'}}, {{heroe.modified | date:'shortTime'}}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <app-modal-poll (setTeam)="getTeam($event)" [title_modal]="question_modal" [team_selected]="team" #modal></app-modal-poll>
  <p><button type="button" class="btn btn-primary" (click)="launchModal()">Clasificar</button></p>

  <modal-poll (setTeam)="getTeam($event)" [title_modal]="question_modal" #modal></modal-poll>
  <p *ngIf="team!=undefined && team!=''">Acabas de clasificar a tu heroe en el equipo <b [style.color]="heroesService.group_colors[team]">{{team}}</b></p>
